<div class="container">
  <div class="row">
    <div class="col my-2">
      <form [formGroup]="formGroup">

        <div class="form-row">
          <div class="form-group col-md-3 list-item-filter">
            <select class="form-control"
                    formControlName="type">
              <option [ngValue]="null">View All Items</option>
              <option
                *ngFor="let listItemType of ListItemType | keyvalue"
                [value]="listItemType.key"
              >
                {{listItemType.value}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-6 list-item-filter">
            <input class="form-control"
                   formControlName="title"
                   placeholder="Start typing to see live results..."
            >
          </div>

          <div class="col-md-3 d-flex align-items-center justify-content-end">
            <div class="btn-group">
              <button
                class="btn btn-warning"
                type="button"
                (click)="resetFilters()"
              >
                Reset filters
              </button>

              <button
                class="btn btn-primary"
                type="button"
                (click)="sortItems()"
              >
                Sort ASC/DESC
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let listItem of listItems$ | async; trackBy: trackByFn"
        >
          [{{listItem.type}}] {{listItem.title}}
        </li>
      </ul>
    </div>
  </div>
</div>
